<aside>
    <div class="box">
        <!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group> -->
        <div class="box-content">
            <div class="main">
                <p>Gerar CNPJ</p>
                <div class="generate-cnpj">
                    <div class="content-options">
                        <input type="text" readonly value="10.236.125/0001-56" [(ngModel)]="cnpjMatriz" name="cnpjMatriz" mask="CPF_CNPJ" />
                        <button class="copy-icon" matSuffix mat-icon-button aria-label="Copiar" (click)="copy(cnpjMatriz)">
                            <mat-icon>file_copy</mat-icon>
                        </button>
                    </div>
                </div>
                <div>
                    <section>
                        <div class="content-options">
                            <mat-checkbox [(ngModel)]="gerarFiliais">Gerar CNPJ Filial</mat-checkbox>
                            <div class="qtd-filiais">
                                <span *ngIf="gerarFiliais">
                                    <input type="number" name="qtdFiliais" [(ngModel)]="qtdFiliais" min="1" max="999" />
                                    Qtd
                                </span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="content-action">
                    <button mat-button (click)="generateCNPJ()">Gerar CNPJ</button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="content-filiais">
                <div class="content">
                    <div *ngFor="let item of filiaisList; let i = index" class="content-options">
                        <input type="text" readonly mask="CPF_CNPJ" [(ngModel)]="filiaisList[i]" />
                        <button class="copy-icon" matSuffix mat-icon-button aria-label="Copiar" (click)="copy(filiaisList[i])">
                            <mat-icon>file_copy</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-content">
            <p>Como Usar?</p>
            <ul>
                <li>Para gerar CNPJ de filiais, marque a opção "Gerar CNPJ Filial" e informe a quantidade de CNPJs.</li>
                <li>Você pode copiar os CNPJs clicando no ícone ao lado dos CNPJs.</li>
                <li>A cópia do CNPJ não será com a máscara aplicada.</li>
            </ul>
        </div>
    </div>
</aside>