<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">
                <div class="logo">
                    <img src="assets/images/logo.png" alt="Logo DevFabrício">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @for (m of menu; track $index) {
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" [routerLink]="m.routerLink" routerLinkActive="active-link">
                            {{ m.label }}
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>